
  <% if session[:current_user] %>
    <p>Only a logged in user should be able to see this, <%= User.find(session[:current_user]).username %>!</p>
    <ul>
      <% @teams.each do |team| %>
        <li>
          <%= link_to(team.team_name, team_path(team)) %>
        </li>
      <% end %>
    </ul>

  <% else %>
  <p>You are not logged in! </p>
  <% end %>
