<div>
  <%= "#{comment.user.first_name} #{comment.user.last_name}:" %><br>
  <%= comment.content %><br>
  <% if session[:current_user] == comment.user_id %>
    <%= link_to 'Remove', comment_path(comment), method: :delete %>
  <% end %>
</div>
