<%= link_to('Edit', edit_user_path(@user)) %>
<p>
  <div>
    <h2>Your favorite MLB team</h2>
    <h2><%= @mlb_news.first['headline'] %><br></h2>
    <%= @mlb_news.first['description'] %><br>
  </div>
</p>
